<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Nannapaneni Saikiran, I Am Working professional, Seamlessly Blends A Passion For  Software and Trends of Software."
    />
    <link rel="canonical" href="https://sai-kiran.carrd.co" />
    <meta property="og:title" content="Nannapaneni Saikiran" />
    <meta
      property="og:description"
      content="Nannapaneni Saikiran, I Am Working professional, Seamlessly Blends A Passion For  Software and Trends of Software."
    />
    <meta property="og:image" content="./assets/images/my-avatar.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ræyáñ" />
    <meta name="twitter:title" content="Saikiran" />
    <meta
      name="twitter:description"
      content="Nannapaneni Saikiran, I Am Working professional, Seamlessly Blends A Passion For  Software and Trends of Software."
    />
    <meta
      name="twitter:image"
      content="https://twitter.com/dark_desirer_/photo"
    />
    <title>Saikiran</title>
    <!--
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="./assets/images/my-avatar.png"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="../css/style.css" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- 
    - Font Awesome link
   -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    
  </head>
  <body>
    <!--
    - #MAIN
  -->

    <main>
      <!--
      - #SIDEBAR
    -->

      <aside class="sidebar" data-sidebar>
        <div class="sidebar-info">
          <figure class="avatar-box">
            <img
              src="../images/my-avatar.png"
              alt="Saikiran"
              width="80"
            />
          </figure>

          <div class="info-content">
            <h2 class="name" title="Nannapaneni Saikiran">Saikiran</h2>
            <p class="title">Software Engineer</p>
          </div>

          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>

            <ion-icon name="chevron-down"></ion-icon>
          </button>
        </div>

        <div class="sidebar-info_more">
          <div class="separator"></div>

          <ul class="contacts-list">
            <li class="contact-item">
              <div class="icon-box">
                <!-- <ion-icon name="mail-outline"></ion-icon> -->
                <i class="fa-regular fa-envelope"></i>
              </div>

              <div class="contact-info">
                <p class="contact-title">Email</p>

                <a href="mailto:sai8844n@gmail.com" class="contact-link"
                  >sai8844n@gmail.com</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <!-- <ion-icon name="phone-portrait-outline"></ion-icon> -->
                <i class="fa-solid fa-phone"></i>
              </div>

              <div class="contact-info">
                <p class="contact-title">Phone</p>

                <a href="tel:" class="contact-link"
                  >+91 7569767364</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <!-- <ion-icon name="calendar-outline"></ion-icon> -->
                <i class="fa-solid fa-cake-candles"></i>
              </div>

              <div class="contact-info">
                <p class="contact-title">Birthday</p>

                <time datetime="1982-06-23">November 7, 2000</time>
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <!-- <ion-icon name="location-outline"></ion-icon> -->
                <i class="fa-solid fa-location-dot"></i>
              </div>

              <div class="contact-info">
                <p class="contact-title">Location</p>

                <address>Delhi, India</address>
              </div>
            </li>
          </ul>

          <div class="separator"></div>

          <ul class="social-list">
            <li class="social-item">
              <a
                href=""
                class="social-link"
              >
                <i class="fa-brands fa-square-instagram"></i>
              </a>
            </li>

            <li class="social-item">
              <a href="https://twitter.com/dark_desirer_" class="social-link">
                <!-- <ion-icon name="logo-twitter"></ion-icon> -->
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>

            <li class="social-item">
              <a
                href="https://www.linkedin.com/in/nannapaneni-saikiran-89100017b/"
                class="social-link"
              >
                <!-- <ion-icon name="logo-instagram"></ion-icon> -->
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>

            <li class="social-item">
              <a href="https://github.com/Saikiran8844" class="social-link">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!--
      - #main-content
    -->

      <div class="main-content">
        <!--
        - #NAVBAR
      -->

        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <button class="navbar-link active" data-nav-link>About</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Resume</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Portfolio</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Contact</button>
            </li>
          </ul>
        </nav>

        <!--
        - #ABOUT
      -->

        <article class="about active" data-page="about">
          <header>
            <h2 class="h2 article-title">About me</h2>
          </header>

          <section class="about-text">
            <h1>Hii...</h1></br>
            <p>
              I am Graduate and working in an MNC, seamlessly blends a
              passion for Software Devlopment. My seamless learning  jounrey as 
              a Software Engineer experienced in agile.
              I aspires to make a mark in the field I work in,
              showcasing my dedication and innovation.
            </p>

            <p>
              My job is to build applications so that it is functional and
              user-friendly but at the same time attractive. Moreover, I add
              personal touch to product and make sure that is eye-catching
              and easy to use. My aim is to bring across your message and
              identity in the most creative way.
            </p>
          </section>

          <!--
          - service
        -->

          <section class="service">
            <h3 class="h3 service-title">What i'm doing</h3>

            <ul class="service-list">

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="../images/icon-dev.svg"
                    alt="Web development icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Web development</h4>

                  <p class="service-item-text">
                    Building FullStack Web Applications.
                  </p>
                </div>
              </li>
              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="../images/icon-dev.svg"
                    alt="Open Source"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Open Source</h4>

                  <p class="service-item-text">
                    Actively contributing in Open Source.
                  </p>
                </div>
              </li>
          
            </ul>
          </section>

          <!--
          - testimonials
        -->

          <section class="testimonials">
            <h3 class="h3 testimonials-title">Recent Posts</h3>

            <ul class="testimonials-list has-scrollbar">
              <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                  <h4
                    class="h4 testimonials-item-title"
                    data-testimonials-title
                  >
                    Talks About
                  </h4>
              </li>
            </ul>
          </section>

          <!--
          - clients
        -->

          <section class="clients">
            <h3 class="h3 clients-title">Technology Stacks</h3>

            <ul class="clients-list has-scrollbar">
              <li class="clients-item">
                <a href="#">
                  <img src="..\images\java.png" alt="Java" />
                </a>
              </li>

              <li class="clients-item">
                <a href="#">
                  <img src="../images/python.png" alt="Python" />
                </a>
              </li>

              <li class="clients-item">
                <a href="#">
                  <img src="../images/reactjs.png" alt="React" />
                </a>
              </li>

              <li class="clients-item">
                <a href="#">
                  <img src="../images/mysql.png" alt="mysql" />
                </a>
              </li>

              <li class="clients-item">
                <a href="#">
                  <img
                    src="../images/tailwindcss.png"
                    alt="client logo"
                  />
                </a>
              </li>

              <li class="clients-item">
                <a href="#">
                  <img src="../images/git-github.png" alt="client logo" />
                </a>
              </li>
            </ul>
          </section>
        </article>

        <!--
        - #RESUME
      -->

        <article class="resume" data-page="resume">
          <header>
            <h2 class="h2 article-title">Resume</h2>
          </header>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Education</h3>
            </div>

            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  SR Gudlavalleru Engineering College, Gudlavalleru
                </h4>

                <span>2018 — 2022</span>

                <p class="timeline-text">Completed My UG With 86%.</p>
              </li>

              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  Nagarjuna Merit High School
                </h4>

                <span>2016</span>

                <p class="timeline-text">
                  Completed My SSC With 93%.
                </p>
              </li>
            </ol>
          </section>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Experience</h3>
            </div>

            <ol class="timeline-list">
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">Software Engineer</h4>

                <span>2023 — Present</span>

                <p class="timeline-text">
                  Thales India.
                </p>
              </li>
            </ol>
          </section>


          <div class="download-btn">
            <a href="../resumme/Nannapaneni_Saikiran.pdf" download="Saikiran.pdf">
          <button class="button-89" role="button">Download My Resume</button>
        </a>
        </div>
          <section class="skill">
            <h3 class="h3 skills-title">My skills</h3>

            <ul class="skills-list content-card">
              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Java</h5>
                  <data value="60">80%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 80%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">MySQL</h5>
                  <data value="70">70%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 70%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">React Js</h5>
                  <data value="50">50%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 50%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Devops Process</h5>
                  <data value="80">40%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 80%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">HTML & CSS</h5>
                  <data value="95">95%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 95%"></div>
                </div>
              </li>

              <li class="skills-item">
                <div class="title-wrapper">
                  <h5 class="h5">Git-Github</h5>
                  <data value="85">85%</data>
                </div>

                <div class="skill-progress-bg">
                  <div class="skill-progress-fill" style="width: 85%"></div>
                </div>
              </li>
            </ul>
          </section> 
        </article>

        <!--
        - #PORTFOLIO
      -->

        <article class="portfolio" data-page="portfolio">
          <header>
            <h2 class="h2 article-title">Portfolio</h2>
          </header>

          <section class="projects">
            <ul class="filter-list">
              <li class="filter-item">
                <button class="active" data-filter-btn>All</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>FrontEnd</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>BackEnd</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>FullStack</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>React Js</button>
              </li>
            </ul>

            <div class="filter-select-box">
              <button class="filter-select" data-select>
                <div class="select-value" data-selecct-value>
                  Select category
                </div>

                <div class="select-icon">
                  <ion-icon name="chevron-down"></ion-icon>
                </div>
              </button>

              <ul class="select-list">
                <li class="select-item">
                  <button data-select-item>All</button>
                </li>

                <li class="select-item">
                  <button data-select-item>frontend</button>
                </li>

                <li class="select-item">
                  <button data-select-item>backend</button>
                </li>
              </ul>
            </div>

            <ul class="project-list">
              <li
                class="project-item active"
                data-filter-item
                data-category="backend"
              >
                <a
                  href="https://github.com/Saikiran8844/Analysis-of-Anime-Recommendations-Dataset"
                  target="_blank"
                >
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="../images/anime-proj.jpg"
                      alt="Analysis-of-Anime-Recommendations-Dataset"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Analysisof Anime Recommendations Dataset</h3>

                  <p class="project-category">FrontEnd</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="frontend"
              >
                <a
                  href="https://saikiran8844.github.io/myportfolio/"
                  target="_blank"
                >
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="../images/myprofile.png"
                      alt="My Portfolio"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Portfolio App</h3>

                  <p class="project-category">FrontEnd</p>
                </a>
              </li>

              <li
                class="project-item active"
                data-filter-item
                data-category="frontend"
              >
                <a
                  href="https://quiz-opentb.netlify.app/"
                  target="_blank"
                >
                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img
                      src="../images/quiz-app.PNG"
                      alt="Quiz App "
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">Quiz App</h3>

                  <p class="project-category">FrontEnd</p>
                </a>
              </li>

              <li
              class="project-item active"
              data-filter-item
              data-category="backend"
            >
              <a
                href="../images/Spinner.svg"
                target=""
              >
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img
                    src="../images/food-API.png"
                    alt="Food API"
                    loading="lazy"
                  />
                </figure>

                <h3 class="project-title">Food Recipe API</h3>

                <p class="project-category">In Progress</p>
              </a>
            </li>

             
            </ul>
          </section>
        </article>

        <!--
        - #CONTACT
      -->

        <article class="contact" data-page="contact">
          <header>
            <h2 class="h2 article-title">Contact</h2>
          </header>

          <section class="mapbox" data-mapbox>
            <figure>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4985.874960610441!2d77.32589987929758!3d28.573109868098136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1satta!5e0!3m2!1sen!2sin!4v1709566364303!5m2!1sen!2sin" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
                
            </figure>
          </section>

          <section class="contact-form">
            <h3 class="h3 form-title">Contact Form</h3>

            <form action="#" class="form" data-form>
              <div class="input-wrapper">
                <input
                  type="text"
                  name="fullname"
                  class="form-input"
                  placeholder="Full name"
                  required
                  data-form-input
                />

                <input
                  type="email"
                  name="email"
                  class="form-input"
                  placeholder="Email address"
                  required
                  data-form-input
                />
              </div>

              <textarea
                name="message"
                class="form-input"
                placeholder="Your Message"
                required
                data-form-input
              ></textarea>

              <button class="form-btn" type="submit" disabled data-form-btn>
                <ion-icon name="paper-plane"></ion-icon>
                <span>Send Message</span>
              </button>
            </form>
          </section>
        </article>
      </div>
    </main>

    <script src="../js/script.js"></script>

    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
